@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

a.cancel {
    background: #fff !important;
    color: #3e495f !important;
    padding: 11px !important;
    border: 1px solid #3e495f !important;
}

a.cancel:active{
    background: #fff !important;
    color: #3e495f !important;
    border: 1px solid #3e495f !important;
}