<a class=" d-xl-none  d-lg-none d-block brand-logo m-2 " href="javascript:void(0);" style="margin-bottom: -2em;">
  <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
  <!-- <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2> -->
</a>
<div class="auth-wrapper auth-v2 auth-custom-style " style="background-color: #e7edf9;" dir="ltr" direction="ltr" style="direction: ltr;">
 
  <div class="auth-inner row m-0 col-xl-8 col-lg-8 col-sm-11 px-lg-0 mx-1 my-md-auto mx-xl-auto my-1"style="border: 1px solid #bac5ee;box-shadow: 0px 0px 4px 4px #caccd04a;
  border-radius: 1em;height: fit-content;
  background-color: white;
  min-height: 60vh">
    <!-- <h2 class="card-title font-weight-bold mb-1">Adventure starts here 🚀</h2>
        <p class="card-text mb-2">Make your app management easy and fun!</p> -->
    <!-- Brand logo-->
    <a class="d-none d-lg-flex brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
      <!-- <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2> -->
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-7 px-0"
      style="clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%); background-color: #e7edf9;">
      <div class="d-none d-lg-flex align-items-center pr-5"
        style="clip-path: polygon(0 0, 90% 0, 72% 100%, 0% 100%);background-color: #00C2E0;">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-lg-5 px-0">
          <img class="img-fluid" [src]="
              coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              :  coreConfig.app.appLogoImageDark
            " alt="Register V2" />
        </div>
      </div>

    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-5 align-items-center auth-bg px-0 pr-lg-3">
      <!-- <a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
        <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
      </a>
       -->

      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-0 mx-auto">
        <h4 class="card-title">Truck! 👋 مرحبًا  بك مرة أخرى  في  </h4>
        <!-- <p class="card-text mb-1">Own your online store in minutes</p> -->
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body mt-1">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="login-email">رقم الهاتف</label>
            <input type="text" formControlName="phoneNumber" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" placeholder="544578754"
              aria-describedby="login-email" autofocus="" tabindex="1" />
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">رقم الهاتف مطلوب</div>
              <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between password_div">
              <label for="login-password">كلمة المرور</label>
              <!-- <a
                routerLink="/pages/authentication/forgot-password-v2"><small>هل نسيت كلمة المرور؟</small></a> -->
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                class="form-control form-control-merge"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                aria-describedby="login-password" tabindex="2" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox remember_me">
              <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
              <label class="custom-control-label" for="remember-me">تذكرني</label>
            </div>
          </div>
          <button [disabled]="loading" style="background-color: #00C2E0;" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>تسجيل دخول
          </button>
        </form>
        <!-- <p class="text-center mt-2">
          <span>New on our platform?</span><a routerLink="/pages/authentication/register-v2"><span>&nbsp;Create an
              account</span></a>
        </p> -->
        <!-- <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
          ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
        </div> -->
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>