<div class="auth-wrapper auth-v2 auth-custom-style" style="background-color: #e7edf9;">
  <a class=" d-xl-none  d-lg-none brand-logo" href="javascript:void(0);">
    <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
    <!-- <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2> -->
  </a>
  <div class="auth-inner row m-0 col-xl-8 col-lg-8 col-sm-11 px-lg-0 mx-1 mx-xl-auto my-auto"style="border: 1px solid #bac5ee;box-shadow: 0px 0px 4px 4px #caccd04a;
  border-radius: 1em;height: fit-content;
  background-color: white;
  min-height: 60vh">
    <!-- <h2 class="card-title font-weight-bold mb-1">Adventure starts here 🚀</h2>
        <p class="card-text mb-2">Make your app management easy and fun!</p> -->
    <!-- Brand logo-->
    <a class="d-none d-lg-flex brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
      <!-- <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2> -->
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-7 px-0" style="clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%); background-color: #e7edf9;">
      <div class="d-none d-lg-flex align-items-center pr-5" style="clip-path: polygon(0 0, 90% 0, 72% 100%, 0% 100%);background-color: #bac5ee;"
        >
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-lg-5 px-0">
          <img class="img-fluid" [src]="
              coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/forgot-password-v2-dark.svg'
              : 'assets/images/pages/forgot-password-v2.svg'
            " alt="Register V2" />
        </div>
      </div>

    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-5 align-items-center auth-bg px-0 pr-lg-3">
      <!-- <a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImageDark }}" alt="brand-logo" height="60" />
        <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
      </a>
       -->
        
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-0 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Forgot Password? 🔒</h2>
        <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>
        <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="forgot-password-email">Email</label>
            <input
              class="form-control"
              type="text"
              formControlName="email"
              placeholder="john@example.com"
              aria-describedby="forgot-password-email"
              autofocus=""
              tabindex="1"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Send reset link</button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v2"
            ><i data-feather="chevron-left" class="mb-25"></i> Back to login</a
          >
        </p>
      </div>
    </div>
    <!-- /Forgot password-->
  </div>
</div>
