<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="details">
            <form [formGroup]="AddTruckForm" novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <h3 class="title">صوره العربة المتنقلة</h3>
                            <div class=" image text-center">
                                <label class="customFileImage2" for="customFileImage">
                                    <img [src]="imageFile.truckImage">
                                </label>
                                <!-- <input type="file" id="customFileImage" (change)="showPreviewFile($event,'truckImage')"
                                    accept="image/*" multiple
                                    style="opacity: 0; position: absolute; right:0;cursor: pointer; z-index: 102" /> -->


                                
                            </div>
                        </div>
                        <div class="card">
                            <h3 class="title">حالة العربة المتنقلة</h3>
                            <div class="form-group d-flex justify-content-between">
                                <label>متاح</label>
                                <div class="custom-control custom-control-primary custom-switch">
                                    <input
                                    name="isOnline" formControlName="isOnline"
                                    type="checkbox"  class="custom-control-input" id="customSwitch3" />
                                    <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <label>موافقه</label>
                                <div class="custom-control custom-control-primary custom-switch">
                                    <input type="checkbox" name="isApproved"   formControlName="isApproved" class="custom-control-input" id="customSwitch3" />
                                    <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                            </div>


                            <div class="form-group d-flex justify-content-between">
                                <label>التقيم</label>
                                <p class="rating ng-template rating-sm">
                                    <ngb-rating
                                      [(rate)]="rating"
                                      [readonly]="true"
                                      [max]="5"
                                      class="outline-none"
                                    >
                                    <ng-template #t let-fill="fill" let-index="index"
                                    ><span class="fa fa-star-o" [class.fa-star]="fill === 100"></span
                                  ></ng-template></ngb-rating>
                                    </p>
                            </div>

                            
                            <div class="form-group d-flex justify-content-between">
                                <label>تاريخ التسجيل</label>
                               <p>{{TruckData?.registrationDate| date: 'dd/MM/yyyy hh:mm a'}}</p>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-md-9">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem>
                                <a ngbNavLink>العام</a>
                                <ng-template ngbNavContent>
                                    <div class="card">
                                        <h3 class="title">عام</h3>
                                        <ul ngbNav #navTruckTitle="ngbNav"
                                            class="nav-tabs language justify-content-end">
                                            <li ngbNavItem>
                                                <a ngbNavLink>الانجليزية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">اسم
                                                            العربة المتنقلة
                                                            بالانجليزي
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" id="first-name-icon" name="truckName"
                                                            formControlName="truckName" class="form-control"
                                                            name="fname-icon">
                                                    </div>


                                                </ng-template>
                                            </li>
                                            <li ngbNavItem>
                                                <a ngbNavLink>العربية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">اسم
                                                            العربة المتنقلة
                                                            بالعربي
                                                            <span class="text-danger">*</span>

                                                        </label>
                                                        <input type="text" id="first-name-icon" name="truckNameAr"
                                                            formControlName="truckNameAr" class="form-control"
                                                            name="fname-icon">

                                                       
                                                    </div>

                                                </ng-template>
                                            </li>
                                        </ul>
                                        <div [ngbNavOutlet]="navTruckTitle"></div>

                                        <ul ngbNav #navTruckAddress="ngbNav"
                                            class="nav-tabs language justify-content-end">
                                            <li ngbNavItem>
                                                <a ngbNavLink>الانجليزية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">عنوان
                                                            العربة
                                                            المتنقلة بالانجليزي
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" id="first-name-icon" name="address"
                                                            formControlName="address" class="form-control"
                                                            name="fname-icon">

                                                       

                                                    </div>


                                                </ng-template>
                                            </li>
                                            <li ngbNavItem>
                                                <a ngbNavLink>العربية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">عنوان
                                                            العربة
                                                            المتنقلة بالعربي
                                                            <span class="text-danger">*</span>

                                                        </label>
                                                        <input type="text" id="first-name-icon" name="addressAr"
                                                            formControlName="addressAr" class="form-control"
                                                            name="fname-icon">
                                                          
                                                    </div>

                                                </ng-template>
                                            </li>
                                        </ul>
                                        <div [ngbNavOutlet]="navTruckAddress"></div>
                                        <div class="form-group">
                                            <label>البنك</label>
                                            <ng-select [items]="banksData" bindLabel="bankName" bindValue="id" class=""
                                                formControlName="bankId" placeholder="اختر البنك"
                                                name="bankId"></ng-select>
                                        </div>
                                        <div class="form-group">
                                            <label>رقم حساب البنك</label>
                                            <input type="text" class="form-control" name="bankAccountNumber"
                                                formControlName="bankAccountNumber">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <h3 class="title">صوره السجل التجاري</h3>



                                     <img [src]="imageFile.commericalImage">


                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a ngbNavLink>متقدم</a>
                                <ng-template ngbNavContent>
                                    <div class="card">
                                        <h3 class="title">تفاصيل العربة المتنقلة</h3>

                                        <div class="form-group">
                                            <label>المستخدم</label>
                                            <ng-select [items]="usersData" bindLabel="userNameAr" bindValue="id" class=""
                                                formControlName="userId" placeholder="اختر المستخدم"
                                                name="userId"></ng-select>
                                        </div>

                                        <div class="form-group">
                                            <label>المدينة</label>
                                            <ng-select [items]="citiesData" bindLabel="cityName" bindValue="id" class=""
                                                formControlName="cityId" placeholder="اختر المدينة"
                                                name="cityId"></ng-select>
                                        </div>

                                        <div class="form-group">
                                            <label>نوع النشاط</label>
                                            <ng-select [items]="buisnessData" bindLabel="businessName" bindValue="id"
                                                class="" formControlName="businessTypeId" placeholder="اختر نوع النشاط"
                                                name="businessTypeId"></ng-select>
                                        </div>


                                        <ul ngbNav #navTruckDescription="ngbNav"
                                            class="nav-tabs language justify-content-end">
                                            <li ngbNavItem>
                                                <a ngbNavLink>الانجليزية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">وصف
                                                            العربة المتنقلة
                                                            بالانجليزي
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <quill-editor name="addDescription"
                                                            customToolbarPosition="'bottom'" name="description"
                                                            formControlName="description" class="border-bottom-0 breif">
                                                            <div quill-editor-toolbar>
                                                                <div class="desc-toolbar border-top-0">
                                                                    <span class="ql-formats mr-0">
                                                                        <button class="ql-bold"></button>
                                                                        <button class="ql-italic"></button>
                                                                        <button class="ql-underline"></button>
                                                                        <button class="ql-align"></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </quill-editor>
                                                    
                                                    </div>
                                                </ng-template>
                                            </li>
                                            <li ngbNavItem>
                                                <a ngbNavLink>العربية</a>
                                                <ng-template ngbNavContent>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="TDRequiredField">وصف
                                                            العربة المتنقلة
                                                            بالعربي
                                                            <span class="text-danger">*</span>

                                                        </label>
                                                        <quill-editor customToolbarPosition="'bottom'"
                                                            name="descriptionAr" formControlName="descriptionAr"
                                                            class="border-bottom-0 breif">
                                                            <div quill-editor-toolbar>
                                                                <div class="desc-toolbar border-top-0">
                                                                    <span class="ql-formats mr-0">
                                                                        <button class="ql-bold"></button>
                                                                        <button class="ql-italic"></button>
                                                                        <button class="ql-underline"></button>
                                                                        <button class="ql-align"></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </quill-editor>
                                                       
                                                    </div>

                                                </ng-template>
                                            </li>
                                        </ul>
                                        <div [ngbNavOutlet]="navTruckDescription"></div>

                                    </div>
                                    <div class="card">
                                       
                                        <h3 class="title">التوصيل</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>التوصيل داخل المدينة</label>
                                                    <input type="number"
                                                        class="form-control" name="deliveryPriceInsideCity"
                                                        formControlName="deliveryPriceInsideCity">

                                                  
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>التوصيل خارج المدينة</label>
                                                    <input type="number"
                                                        class="form-control" name="deliveryPriceOutInsideCity"
                                                        formControlName="deliveryPriceOutInsideCity">

                                                
                                                </div>

                                            </div>
                                        </div>
                                        <hr>
                                        <h3 class="title">احداثيات العربة المتنقلة</h3>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>خط الطول</label>
                                                    <input type="number"
                                                        class="form-control" name="lon" formControlName="lon">

                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>خط العرض</label>
                                                    <input type="number"
                                                        class="form-control" name="lat" formControlName="lat">

                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>
                </div>
                <div class="buttons justify-content-end d-flex mb-3">
                    <a routerLink="/admin/Trucks" class="btn btn-icon btn-secondary ml-25 mr-25 cancel btn-lg"
                        type="button" rippleEffect>
                        <span>الغاء</span>
                    </a>

                    <a [routerLink]="['/admin/Trucks/Edit',truckId]" class="btn btn-icon btn-primary ml-25 mr-25 btn-lg"
                        type="button" rippleEffect>
                        <span>تعديل</span>
                    </a>
                    <!-- <button *ngIf="!truckId" [disabled]="loading" class="btn btn-icon btn-primary mr-25 ml-25 btn-lg" type="submit"
                        rippleEffect (click)="submitData()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>حفظ
                    </button>
                    <button [disabled]="loading" *ngIf="truckId" class="btn btn-icon btn-primary mr-25 ml-25 btn-lg"
                    type="submit" rippleEffect (click)="updateData()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>تعديل
                </button>

                <a *ngIf="truckId" (click)="deleteTruck(truckId)" class="btn btn-icon btn-danger ml-25 mr-25 btn-lg"
                    type="button" rippleEffect>
                    <span>حذف</span>
                </a> -->
                </div>
            </form>
        </div>
    </div>
</div>