<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="card">
            <div class="card-body">

                <form [formGroup]="PrivacyPolicyForm">
                 
                    <div class="form-group">
                        <label class="form-control-label" for="TDRequiredField">
                          سياسه الخصوصيه بالعربي
                            <span class="text-danger">* </span>

                        </label>
                        <quill-editor customToolbarPosition="'bottom'" placeholder="سياسه الخصوصيه بالعربي"
                            formControlName="privacyPolicyAr" name="privacyPolicyAr"
                            [validateArabic]="BannerFormControls.privacyPolicyAr"
                            appArabicValidation
                            [modules]="{ syntax: true, toolbar: [['code-block']] }"
                            [ngClass]="{ 'is-invalid':(submitted && BannerFormControls.privacyPolicyAr.errors) 
                            ||(BannerFormControls.privacyPolicyAr.errors?.['invalidArabicInput'])
                            || (BannerFormControls.privacyPolicyAr.touched && BannerFormControls.privacyPolicyAr.invalid) }"
                            class="border-bottom-0 breif">
                            <div quill-editor-toolbar>
                                <span class="ql-formats">
                                  <button class="ql-bold" [title]="'Bold'"></button>
                                  <button class="ql-italic" [title]="'italic'"></button>
                                  <button class="ql-underline" [title]="'underline'"></button>
                                </span>
                                <span class="ql-formats">
                                  <select class="ql-align" [title]="'Alignment'">
                                    <option selected></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                    <option value="justify"></option>
                                  </select>
                                </span>
                                <span class="ql-formats">
                                  <button class="ql-list" value="ordered" type="button"></button>
                                </span>
                                <span class="ql-formats">
                                  <button class="ql-link" value="ordered" type="button"></button>
                                  <button class="ql-image" value="ordered" type="button"></button>
                                  <button class="ql-video" value="ordered" type="button"></button>
                                </span>
                                <!-- <span class="ql-formats">
                                  <button class="ql-formula" value="ordered" type="button"></button>
                                  <button class="ql-code-block" value="ordered" type="button"></button>
                                </span>
                                <span class="ql-formats">
                                  <button class="ql-clean" value="ordered" type="button"></button>
                                </span> -->
                              </div>
                        </quill-editor>
                        <small
                            *ngIf=" (submitted && BannerFormControls.privacyPolicyAr.errors) || (BannerFormControls.privacyPolicyAr.touched && BannerFormControls.privacyPolicyAr.invalid)"
                            class="invalid-feedback">
                            <small *ngIf="BannerFormControls.privacyPolicyAr.errors.required">برجاء
                                ادخال
                                سياسه الخصوصيه بالعربي
                            </small>
                        </small>
                        <div *ngIf="(submitted && BannerFormControls.privacyPolicyAr.errors) || (BannerFormControls.privacyPolicyAr.errors?.['invalidArabicInput'])"
                        class="invalid-feedback">
                        <div *ngIf="BannerFormControls.privacyPolicyAr.errors?.['invalidArabicInput']">
                        سياسه الخصوصيه يجب ان تتكون من حروف عربي</div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label" for="TDRequiredField">سياسه الخصوصيه
                          بالانجليزي
                          <span class="text-danger">*</span>
                      </label>
                      <quill-editor name="privacyPolicyEn" formControlName="privacyPolicyEn"
                          name="pageprivacyPolicyEn" placeholder="سياسه الخصوصيه بالانجيليزي"
                          [modules]="{ syntax: true, toolbar: [['code-block']] }"
                          [ngClass]="{ 'is-invalid':(submitted && BannerFormControls.privacyPolicyEn.errors) || (BannerFormControls.privacyPolicyEn.touched && BannerFormControls.privacyPolicyEn.invalid) }"
                          customToolbarPosition="'bottom'" class="border-bottom-0 breif">
                          <div quill-editor-toolbar>
                              <span class="ql-formats">
                                <button class="ql-bold" [title]="'Bold'"></button>
                                <button class="ql-italic" [title]="'italic'"></button>
                                <button class="ql-underline" [title]="'underline'"></button>
                              </span>
                              <span class="ql-formats">
                                <select class="ql-align" [title]="'Alignment'">
                                  <option selected></option>
                                  <option value="center"></option>
                                  <option value="right"></option>
                                  <option value="justify"></option>
                                </select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-list" value="ordered" type="button"></button>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-link" value="ordered" type="button"></button>
                                <button class="ql-image" value="ordered" type="button"></button>
                                <button class="ql-video" value="ordered" type="button"></button>
                              </span>
                              <!-- <span class="ql-formats">
                                <button class="ql-formula" value="ordered" type="button"></button>
                                <button class="ql-code-block" value="ordered" type="button"></button>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-clean" value="ordered" type="button"></button>
                              </span> -->
                            </div>
                      </quill-editor>

                      <small
                          *ngIf=" (submitted && BannerFormControls.privacyPolicyEn.errors) || (BannerFormControls.privacyPolicyEn.touched && BannerFormControls.privacyPolicyEn.invalid)"
                          class="invalid-feedback">
                          <small *ngIf="BannerFormControls.privacyPolicyEn.errors.required">برجاء
                              ادخال
                              سياسه الخصوصيه بالانجليزي
                          </small>
                      </small>

                  </div>
                  
               
               
                    <div class="buttons justify-content-end d-flex mb-3">
                     
                    
                        <button [disabled]="loading" 
                            class="btn btn-icon btn-primary mr-25 ml-25 btn-lg" type="submit" rippleEffect
                            (click)="submitData()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>تعديل
                        </button>

                      
                        <a routerLink="/admin/dashboard/statistics"
                        class="btn btn-icon btn-primary ml-25 mr-25 cancel btn-lg" type="button" rippleEffect>
                        <span>الغاء</span>
                    </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>