<h1>Angular 14 Image Upload with Preview - ItSolutionStuff.com</h1>

     

<form [formGroup]="myForm" (ngSubmit)="submit()">

       

    <div class="form-group">

        <label for="name">Name:</label>

        <input 

            formControlName="name"

            id="name" 

            type="text" 

            class="form-control">

      

    </div>

      

    <div class="form-group">

        <label for="file">File:</label>

        <input 

            formControlName="file"

            id="file" 

            type="file" 

            class="form-control"

            (change)="onFileChange($event)">

      

    </div>



    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
            
    <button class="btn btn-primary" [disabled]="myForm.invalid" type="submit">Submit</button>
</form>
