
<div class="footer-details" *ngIf="!(coreConfig.layout.type==='admin')">
  <div class="container">
    <div class="row">
      <div class="col-md mb-4 mb-md-0">
        <h3>Store</h3>
        <ul class="list-unstyled nav-links">
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Children</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Top Brands</a></li>
          <li><a href="#">Special Offers</a></li>
        </ul>
      </div>
      <div class="col-md mb-4 mb-md-0">
        <h3>About</h3>
        <ul class="list-unstyled nav-links">
          <li><a href="#">About us</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Best sellers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md mb-4 mb-md-0">
        <h3>Legal</h3>
        <ul class="list-unstyled nav-links">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Legality</a></li>
          <li><a href="#">Author License</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h3>Subscribe</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor ducimus doloremque earum
          ullam. Architecto voluptatum odio magni.</p>
        <form action="#" class="subscribe">
          <input type="text" class="form-control" placeholder="Enter your e-mail">
          <input type="submit" class="btn btn-submit" value="Send">
        </form>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <div class="border-top my-5"></div>
      </div>
     
    </div>
  </div>
</div>
<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; {{ year }}
    <a class="ml-25" href="#" target="_blank">Alnasayan</a>
    <span class="d-none d-sm-inline-block">, All rights Reserved</span>
  </span>
  <span class="float-md-right d-none d-md-block">
    Hand-crafted & Made with <span [data-feather]="'heart'" [class]="'pink'"></span>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

<!-- Buynow Button-->
<div class="buy-now">
  <a href="https://1.envato.market/vuexy_admin" target="_blank" class="btn btn-danger"
    *ngIf="coreConfig.layout.buyNow">Buy Now</a>
</div>